[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dependencies/fmt"]
	path = Dependencies/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw
